{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div id="about_page">
    <div class="overlay"></div>
    <div class="container about">
        <div class="col">
            <h1>Contact Us</h1>
                <form method="POST" class="text-wht p4 mb-4 aw">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <h1><input type="submit" class="btn btn-warning w-50"
                        value="Submit message" /></h1>
                </form>
        </div>
    </div>
</div>
{% endblock %}